<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <form method=post enctype="multipart/form-data" action="/contact/2">
            <input type="file" name=file type="png">
            <input type="submit">
        </form>  
        {% for a in listdata %}          
            <br/>        
            <b>{{a.name}}</b>
        {% endfor%}
    {{aa}}
    </body>
</html>